body{
  font-family:"Meiryo UI";
  color:#FFD700;
  background-color:	#FFFACD;
}

h1{
  font-family:”Meiryo UI”;
  color:#FFD700;
  font-weight:900;
  <img src="be19ace07f111456371489a081835c14.jpg">
}
